<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353767596792-gvimh1d89jq3pmmmqn9402o8c4427ei2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353767596792-gvimh1d89jq3pmmmqn9402o8c4427ei2</string>
	<key>API_KEY</key>
	<string>AIzaSyCYQFNY1zDJ-BO_jz14pdNhiYZFUcMXUZk</string>
	<key>GCM_SENDER_ID</key>
	<string>353767596792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmsoftware100.kzn</string>
	<key>PROJECT_ID</key>
	<string>hisandher</string>
	<key>STORAGE_BUCKET</key>
	<string>hisandher.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353767596792:ios:ae6a6b2e33297a38c1d10d</string>
</dict>
</plist>